---
// import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <!-- <CallToAction /> -->
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Created with <a href="https://astro.build/">Astro</a>. Theme made by <a
          href="https://github.com/markteekman">Mark Teekman</a
        > But in the end, <a
        href="https://github.com/CesaTor">MINE</a
      >
      </p>
    </div>
  </section>
</footer>
